body {
  background: linear-gradient(-200deg, var(--color-main) 0%, var(--color-main-light) 100%);
  font-family: var(--font-family);
  font-weight: 600;
  color: white;
  margin: 0 auto;
  max-width: 30rem;
}