body {
  background: linear-gradient(-200deg, var(--color-main) 0%, var(--color-secondary) 100%);
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--color-white);
  margin: 0 auto;
  max-width: 24rem;
}